body{
	font-family: arial, tahoma;
}

.example span{
	display: block;
	float: left;
	width: 30px;
	height: 30px;	
	font-size: 28px;
	padding: 10px;
	border: 1px solid #666666;
	box-shadow: 0 0 3px #999999;
	margin: 5px;
	text-align: center;
	background-color: #EEEEEE;
}

.example span.group {
	border: 3px solid #666666;
	padding: 8px;
	font-weight: bold;
}

.invalid span{
	background-color: #FF9999;
}

.example{
	clear:both;
}

.buttons{
	font-size: 28px;
	clear:both;
	margin: 5px;
	padding: 30px;
}
.buttons a{
	padding: 5px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #666666;
	background-color: #999999;
	color: #FFFFFF;
	font-weight: bold;
	height: 35px;
	width: 120px;
	text-align: center;	
	text-decoration: none;
	margin: 5px;
}
.buttons a:hover{
	background-color: #CCCCCC;
}

input{
	margin: 5px;
	height: 35px;
	font-size: 28px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #666666;
	box-shadow: 0 0 3px #999999;
}